
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
	padding: 40px;
	overflow-x: hidden; /* For Opera */
	-webkit-box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
	-moz-box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
	box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
}

h1 {
    font-size: 36px;
}
#siteImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#doodlyVideo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h2 {
    font-size: 24px;
    text-align: right;
}
p {
    text-align: justify;
}
a:link {color:#ff0000;}
a:hover {font-size: 150%;}
a:visited {color: white;}
.homeLinkContainer {
    text-align: center;
    font: bold;
    text-decoration: none;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
* {
    box-sizing: border-box;
}
.box {
    font-size: 50px;
    padding:15px;
    background:#02028a;
}    
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}